@font-face {
  font-family: "Italia";
  src: url("assets/fonts/Italiana-Regular.ttf") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .font-italia {
    font-family: "Italia", serif;
  }
}

:root {
  font-family: Roboto, sans-serif;
  /* line-height: 1.5; */

  /* color-scheme: light dark; */
  /* font-synthesis: none; */
  /* text-rendering: optimizeLegibility; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  scroll-behavior: smooth;

  scrollbar-width: thin;
  scrollbar-color: gray #c1b686;
}

:root::-webkit-scrollbar {
  width: 9px;
  border-radius: 1px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

:root::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: #c1b686;
}

body {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
